
$base-color  :       #1EACF5; // 主题色 蓝
$text-color  :       #9B9B9B; // 专题小标题颜色
$text-color  :       #9B9B9B; // 专题小标题颜色
$shadow      :       #C3C3C3; // 阴影背景色
$border-color:       #ACBACB; // 边框颜色
$bg-color    :       #ACBACB; // 背景色

$base-size   :       .24rem; // 页面基础字体大小
